html{} 
@font-face {
font-family: "Kumbh Sans";  
src: url("KumbhSans-Regular.ttf") format("truetype"); 
font-style: normal; 

/*font-family: "Kumbh Sans";  
src: url("KumbhSans-Light.ttf") format("truetype");*/
 }
body { font-family: "Kumbh Sans";
	  font-size: 18px;
      font-weight: 700;	  
      width: 1440px;
	  background: url(images/bg-pattern-top.svg) -250px -500px no-repeat, 
				  url(images/bg-pattern-bottom.svg) 713px 377px no-repeat,
				  hsl(185, 75%, 39%);
	  text-align: center;}
.card {border: 1px;
       border-radius:15px;
	   margin-left: 545px;
	   margin-right: 545px;
	   margin-top: 173px;
	   /*margin-bottom: 246px;*/
	   background-color: white;
	   background-image: url(images/bg-pattern-card.svg);
	   background-repeat: no-repeat;
	   height: 375px;}
.card-holder{ }
img {border-radius: 50px;
     border: solid 5px white;
	 margin-top: 90px;}
.counters div {/*width: 100px;*/
	float: left;
	padding-top:30px;
	padding-left:48px;
	padding-right:10px;
           }
.counters { border-top: solid 1px hsl(0, 0%, 95%);
            /*height: 89px;*/}
span { font-weight: 400;
	   color: hsl(0, 0%, 59%);}
small { font-size: 10px;
	   letter-spacing: 1px;}
.city{font-size: 18px;}